{% load static %} {% load humanize %}
<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
    .img-invoice {
        width: 120px;
        padding: 15px;
    }

    .img-lirax {
        width: 320px;
    }

    #invoice thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 2px;
    }

    #invoice thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice tbody tr {
        padding: 0;
    }

    #invoice2 thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 2px;
    }

    #invoice2 thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice2 tbody tr {
        padding: 0;
    }

    .text-center {
        text-align: center;
    }
</style>

<body>
    <table id="tb">
        <thead>
            <tr>
                <th style="width: 20%; text-align: left;"><img src="{{ icon }}" class="img-invoice"></th>
                <th style="width: 82%; text-align: left;">
                    <div>
                        <span style="font-size: 18px;">{{ comp.name|upper }}</span><br>
                        <span style="font-size: 14px; font-weight: 300;"><b>R.I.F.:</b> {{ comp.nit }}</span><br>
                        <span style="font-size: 14px; font-weight: 300;"><b>Domicilio Fiscal</b>:
                            {{ comp.address }}</span><br>
                        <span style="font-size: 14px; font-weight: 300;">{{ comp.services }}</span><br><br>
                        <span style="font-size: 13px; font-weight: 600;"><b>Teléfono:</b> </span>
                        <span style="font-size: 13px; font-weight: 300;"> {{ comp.phone }} </span><br>
                        <span style="font-size: 13px; font-weight: 600;"> Correo: </span>
                        <span style="font-size: 13px; font-weight: 300;">
                            {{ comp.email }}</span><br>
                    </div>
                </th>
            </tr>
        </thead>
    </table><br>
    <table>
        <thead>
            <tr>
                <th style="font-size: 14px; text-align: left;">RESUMEN DE VENTAS {{ day }} </th>
            </tr>
        </thead>
    </table><br><br>
    <span style="font-size: 12px; font-weight: 600; text-align: left;">1. TIPOS DE VENTAS</span><br>
    <table id="invoice" style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th style="font-size: 12px; text-align: left; width: 50%">Tipo</th>
                <th style="font-size: 12px; width: 40%; text-align: center;">Cantidad</th>
                <th style="font-size: 12px; width: 10%; text-align: right;">Totales</th>
            </tr>
        </thead>
        <tbody>
            <tr style="padding-top: 2px;">
                <td style="font-size: 12px; padding-top: 3px;">Al contado</td>
                <td style="font-size: 12px; text-align: center;">{{ detTypeSales.cash }}</td>
                <td style="font-size: 12px; text-align: right;">{{ detTypeSales.totalCash|floatformat:2 }}</td>
            </tr>
            <tr style="padding-top: 2px;">
                <td style="font-size: 12px;">Abonos de créditos</td>
                <td style="font-size: 12px; text-align: center;">{{ detTypeSales.payments }}</td>
                <td style="font-size: 12px; text-align: right;">{{ detTypeSales.totalPayments|floatformat:2 }}</td>
            </tr>
            <tr style="font-weight: bold; border-top: 1px solid #b3b3b3">
                <td style="font-size: 12px; text-align: center;"></td>
                <td style="font-size: 12px; padding: 4px 0 0 0; color: green; text-align: right;">Ingreso líquido:</td>
                <td style="font-size: 12px; padding: 4px 0 0 0; color: green; text-align: right;">{{ totalIncome|floatformat:2 }} $</td>
            </tr>
            
            <tr style="border-top: 1px solid #b3b3b3;">
                <td style="font-size: 12px;">Ventas a crédito (Por cobrar)</td>
                <td style="font-size: 12px; text-align: center; padding-top: 6px;">{{ detTypeSales.credit }}</td>
                <td style="font-size: 12px; text-align: right; padding-top: 6px;">{{ detTypeSales.totalCredit|floatformat:2 }}</td>
            </tr>
            
            <tr style="border-top: 1px solid black; font-weight: bold;">
                <td style="font-size: 12px; text-align: center; padding-top: 2px;"></td>
                <td style="font-size: 12px; padding-top: 2px; text-align: right;">TOTAL FACTURADO:</td>
                <td style="font-size: 12px; text-align: right; padding-top: 2px;">{{ totalTypeSales|floatformat:2 }} $</td>
            </tr>
        </tbody>
    </table><br>
    <span style="font-size: 12px; font-weight: 600; text-align: left;">2. CONCILIACIÓN POR MÉTODO DE PAGO</span><br>
    <table id="invoice" style="width: 100%; border-collapse: collapse; margin-top: 5px;">
        <thead>
            <tr style="border-bottom: 1px solid black;">
                <th style="font-size: 12px; text-align: left; width: 23%;">Método</th>
                <th style="font-size: 12px; text-align: center; width: 7%;">Cant.</th>
                <th style="font-size: 12px; text-align: right; width: 14%;">Ventas (+)</th>
                <th style="font-size: 12px; text-align: right; width: 14%;">Abonos (+)</th>
                <th style="font-size: 12px; text-align: right; width: 14%;">Ing. Caja(+)</th>
                <th style="font-size: 12px; text-align: right; width: 14%;">Egr. Caja(-)</th>
                <th style="font-size: 12px; text-align: right; width: 14%;">Neto Final</th>
            </tr>
        </thead>
        <tbody>
            {% for d in payMethod %}
            <tr style="padding-top: 2px;">
                <td style="font-size: 12px; padding: 3px 0;">{{ d.method|capfirst }} ({{ d.currency }}) </td>
                <td style="font-size: 12px; text-align: center;">{{ d.quantity }}</td>
                <td style="font-size: 12px; text-align: right;">{{ d.sales_amount|floatformat:2 }} {{ d.currency }}</td>
                <td style="font-size: 12px; text-align: right;">{{ d.payments_amount|floatformat:2 }} {{ d.currency }}</td>
                <td style="font-size: 12px; text-align: right; color: green;">+{{ d.cash_in|floatformat:2 }} {{ d.currency }}</td>
                <td style="font-size: 12px; text-align: right; color: red;">-{{ d.cash_out|floatformat:2 }} {{ d.currency }}</td>
                <td style="font-size: 12px; text-align: right; font-weight: 600;">{{ d.net_final|floatformat:2 }} {{ d.currency }}</td>
            </tr>
            {% endfor %}
            
            <tr style="border-top: 1px solid black; font-weight: bold;">
                <td style="font-size: 12px; text-align: center; padding-top: 2px;"></td>
                <td style="font-size: 12px; text-align: center; padding-top: 2px;"></td>
                <td style="font-size: 12px; text-align: center; padding-top: 2px;"></td>
                <td style="font-size: 12px; text-align: center; padding-top: 2px;"></td>
                <td style="font-size: 12px; text-align: center; padding-top: 2px;"></td>
                <td style="font-size: 12px; padding-top: 2px; text-align: right;">TOTAL:</td>
                <td style="font-size: 12px; padding-top: 2px; text-align: right; color: {% if grand_total_usd >= 0 %}green{% else %}red{% endif %};">
                    {{ grand_total_usd|floatformat:2 }} $
                </td>
            </tr>
        </tbody>
    </table><br>
    <br><span style="font-size: 12px; font-weight: 600; text-align: left;">3. DETALLE DE MOVIMIENTOS DE CAJA</span><br>
    <table id="invoice">
        <thead>
            <tr>
                <th style="font-size: 12px; width: 20%;">Fecha/Hora</th>
                <th style="font-size: 12px; width: 10%; text-align: left;">Usuario</th>
                <th style="font-size: 12px; width: 10%; text-align: left;">Tipo</th>
                <th style="font-size: 12px; width: 20%; text-align: left;">Método</th>
                <th style="font-size: 12px; width: 30%; text-align: left;">Descripción</th>
                <th style="font-size: 12px; width: 10%; text-align: center;">Total</th>
            </tr>
        </thead>
       <tbody>
        {% for m in movements.movements %}
        <tr style="padding-top: 2px;">
            <td style="font-size: 12px; padding-top: 2px;">{{ m.date }}</td>
            <td style="font-size: 12px; padding-top: 2px; text-align: left;">{{ m.user|upper }}</td>
            <td style="font-size: 12px; padding-top: 2px; text-align: left;">{{ m.tipo }}</td>
            <td style="font-size: 12px; padding-top: 2px; text-align: left;">{{ m.method }}</td>
            <td style="font-size: 12px; padding-top: 2px; text-align: left;">{{ m.description }}</td>
            <td style="font-size: 12px; padding-top: 2px; text-align: center; padding-top: 3px;">
                {% if m.tipo == 'INGRESO' %} + {% else %} - {% endif %}
                {{ m.amount|floatformat:2 }} {{ m.symbol }}
            </td>
        </tr>
        {% empty %}
        <tr style="border-bottom: 1px solid black; padding-top: 2px;">
            <td colspan="6" style="font-size: 12px; text-align: center; padding: 5px;">No se registraron movimientos de caja en este período.</td>
        </tr>
        {% endfor %}
        
        <tr style="border-top: 1px solid black; font-weight: bold;">
            <td style="font-size: 12px; text-align: center; padding-top: 2px;"></td>
            <td style="font-size: 12px; text-align: center; padding-top: 2px;"></td>
            <td style="font-size: 12px; text-align: center; padding-top: 2px;"></td>
            <td style="font-size: 12px; text-align: center; padding-top: 2px;"></td>
            <td style="font-size: 12px; padding-top: 2px; text-align: right;">TOTAL:</td>
           <td style="font-size: 12px; padding-top: 2px; text-align: center;
                    color: {% if movements.total_mov_caja >= 0 %} green {% else %} red {% endif %};">
                    {% if movements.total_mov_caja > 0 %}+{% endif %}{{ movements.total_mov_caja|floatformat:2 }} $
            </td>
        </tr>
    </tbody>
    </table><br><br>
    <span style="font-size: 12px; font-weight: 600; text-align: left;">4. DETALLE DE ABONOS DE VENTAS A CRÉDITO</span><br>
    <table id="invoice">
        <thead>
            <tr>
                <th style="font-size: 12px; width: 20%;">Fecha</th>
                <th style="font-size: 12px; width: 60%; text-align: left;">Cliente</th>
                <th style="font-size: 12px; width: 60%; text-align: left;">Método</th>
                <th style="font-size: 12px; width: 20%; text-align: center;">Total Bs.</th>
                <th style="font-size: 12px; width: 20%; text-align: center;">Total $.</th>
            </tr>
        </thead>
        <tbody>
            {% for d in payments %}
            <tr style="padding-top: 2px;">
                <td style="font-size: 12px; padding-top: 3px;">{{ d.date }}</td>
                <td style="font-size: 12px; text-align: left;">{{ d.client }}</td>
                <td style="font-size: 12px; text-align: left;">{{ d.method }}</td>
                <td style="font-size: 12px; text-align: center; padding-top: 3px;">{{ d.quantityBs|floatformat:2 }}</td>
                <td style="font-size: 12px; text-align: center; padding-top: 3px;">{{ d.quantity|floatformat:2 }}</td>
            </tr>
            {% empty %}
            <tr style="border-bottom: 1px solid black; padding-top: 2px;">
                <td colspan="5" style="font-size: 12px; text-align: center; padding: 5px;">No se registraron abonos de en créditos este período.</td>
            </tr>
            {% endfor %}
            <tr style="border-top: 1px solid black; padding-top: 2px;">
                <td style="font-size: 12px;"></td>
                <td style="font-size: 12px;"></td>
                <td style="font-size: 12px; text-align: right;">TOTALES</td>
                <td style="font-size: 12px; text-align: center;">{{ totalPaymentsBs|floatformat:2 }} Bs</td>
                <td style="font-size: 12px; text-align: center;">{{ totalPayments|floatformat:2 }} $</td>
            </tr>
        </tbody>
    </table><br>
         <span style="font-size: 12px; font-weight: 600; text-align: left;">5. VENTAS CON DESCUENTOS</span><br>
    <table id="invoice">
        <thead>
            <tr>
                <th style="font-size: 12px; width: 15%;">Fecha</th>
                <th style="font-size: 12px; width: 15%; text-align: center;">Factura</th>
                <th style="font-size: 12px; width: 50%; text-align: left;">Cliente</th>
                <th style="font-size: 12px; width: 20%; text-align: center;">Descuento ($)</th>
            </tr>
        </thead>
        <tbody>
            {% for d in discountSales %}
            <tr style="padding-top: 2px;">
                <td style="font-size: 12px; padding-top: 3px;">{{ d.date }}</td>
                <td style="font-size: 12px; text-align: center;">{{ d.invoice }}</td>
                <td style="font-size: 12px; text-align: left;">{{ d.client }}</td>
                <td style="font-size: 12px; text-align: center; padding-top: 3px;">{{ d.discount }} $</td>
            </tr>
            {% empty %}
            <tr style="border-bottom: 1px solid black; padding-top: 2px;">
                <td colspan="4" style="font-size: 12px; text-align: center; padding: 5px;">No se registraron ventas con descuentos en este período.</td>
            </tr>
            {% endfor %}
            <tr style="border-top: 1px solid black; padding-top: 2px;">
                <td style="font-size: 12px;"></td>
                <td style="font-size: 12px;"></td>
                <td style="font-size: 12px; text-align: right;">TOTAL</td>
                <td style="font-size: 12px; text-align: center;">{{ totalDiscounts|floatformat:2 }} $</td>
            </tr>
        </tbody>
    </table><br><br>
</body>

</html>